langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.36
langchain-experimental==0.0.55
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langchainhub==0.1.15
streamlit==1.32.2
SQLAlchemy==2.0.29
requests==2.31.0
